beautifulsoup4==4.13.3
python-dotenv==1.0.1
fastapi==0.115.8
google-api-python-client==2.161.0
konlpy==0.6.0
kss==6.0.4
numpy==2.0.2
pandas==2.2.3
pymysql==1.1.1
google-generativeai==0.8.4
requests==2.32.3
scikit-learn==1.6.1
tensorflow==2.18.0
torch==2.6.0
transformers==4.48.2
uvicorn==0.34.0
keras==3.8.0
tf_keras==2.18.0